version: '3.8'
services:
  movie-db:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=movie_db'
      - 'MYSQL_ROOT_PASSWORD=root'
    ports:
      - '3307:3306'
    labels:
      org.springframework.boot.service-connection: mysql


