server:
  port: 8085

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: booking-service
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/v1/bookings/**
          filters:
            - TokenRelay
        - id: theater-service
          uri: lb://THEATER-SERVICE
          predicates:
            - Path=/api/v1/theaters/**
          filters:
            - TokenRelay
        - id: movie-service
          uri: lb://MOVIE-SERVICE
          predicates:
            - Path=/api/v1/movies/**
          filters:
            - TokenRelay
        - id: show-service
          uri: lb://SHOW-SERVICE
          predicates:
            - Path=/api/v1/shows/**
          filters:
            - TokenRelay

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/ticketbooking


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG