spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:mysql://booking-db:3306/booking_db
    username: root
    password: root
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/ticketbooking

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
