server:
  port: 8083

spring:
  application:
    name: show-service


  datasource:
    url: jdbc:mysql://localhost:3309/show_db?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka